@{
    ViewData["Title"] = "Pagina Principal";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center">
    <img src="~/Img/imgKreemo.jpeg" height="350"></img>
</div>